body{
  text-align: center;
  margin-bottom: 2%;
}

a{
  color: #15B3D9;
}

a:hover, a:link, a:hover, a:active{
  color: #15C9D9;
}

#side-image{
  background-image: url('bowling.jpeg');
  background-size: cover;
  background-position: 30%;
  height: 100%;
  position: fixed;
}

form{
  margin: 1%;
}

.row{
  margin: 3%;
  border: 1px solid gray;
  display: flex;
}

.col {
  flex: 1;
  padding: 1em;
  border: solid;
  text-align: left;
}

.panel-default{
  width: 60%;
  margin: 0 auto 2%;
  padding: 1%;
}

@media only screen and (max-width: 768px) {
  .row{
    flex-direction: column;
  }

  .panel-default{
    width: 90%;
    margin: 0 auto 2%;
    padding: 1%;
  }

  #side-image{
    display: none;
  }
}
